AddressableOfTaiKeTang/.idea/

AddressableOfTaiKeTang/ProjectSettings/ProjectVersion.txt
AddressableOfTaiKeTang/AndroidBuildBaseball/SDKBase/src/main/Il2CppOutputProject/
AddressableOfTaiKeTang/AndroidBuildBaseball/SDKBase/src/main/jniStaticLibs/
AddressableOfTaiKeTang/IOSProject/

AddressableOfTaiKeTang/Assets/LoadResources/Dll/
AddressableOfTaiKeTang/Assets/Graphy*
Temp
TempWorkFile

.DS_Store
*.vsconfig
*.config
*.csproj
*.sln
*.pdb

# 项目相关
AddressableOfTaiKeTang/.vs
AddressableOfTaiKeTang/Obj
AddressableOfTaiKeTang/Temp
AddressableOfTaiKeTang/UserSettings
AddressableOfTaiKeTang/Logs
AddressableOfTaiKeTang/Library
AddressableOfTaiKeTang/Packages/Selenium.WebDriver.ChromeDriver.117.0.5938.14900
AddressableOfTaiKeTang/Packages/Selenium.WebDriver.4.14.0
AddressableOfTaiKeTang/Packages/Selenium.WebDriver.4.14.1
AddressableOfTaiKeTang/Packages/System.Drawing.Common.7.0.0
AddressableOfTaiKeTang/Packages/Newtonsoft.Json.13.0.1

# 排除文件 cookie和密码等

AddressableOfTaiKeTang/Assets/LanHuImporter/Scripts/LanHuImporterSettings.asset
LanHuImporterSettings.asset
LanHuImporterSettings.asset.meta
lanhuCookie.dat
lanhuCookie.dat.meta
AddressableOfTaiKeTang/Assets/Prefab

UnityTeach4_Addressables.rar

AddressableOfTaiKeTang/Out
*.bundle